* {
    outline: none;
}

.contenedor-catalogo {
    width: 100%;
    min-height:93vh;
    margin: 0px;
    padding: 2%;
    background: #3b6978;
}

.contenedor-bitacora{
    width: 70%;
}

.contenedor-titulo {
    width: 100%;
    margin: 0px;
    padding: 2%;
}

.titulo-categoria {
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: default;
}

.imagen-tarjeta{
    background-size: cover;
    background-position: center center;
    width: 100%;
    max-height: 240px;
}

.prueba{
    border: 4px solid black;
}

@media (max-width: 2000.98px) {
    .titulo-categoria{
        font-size: 45px;
    }
}

@media (max-width: 1199.98px) {
    .titulo-categoria{
        font-size: 30px;
    }
    .contenedor-bitacora{
        width: 80%;
    }
}

@media (max-width: 991.98px) {
    .titulo-categoria{
        font-size: 25px;
    }
    .contenedor-bitacora{
        width: 80%;
    }
}

@media (max-width: 767.98px) {
    .titulo-categoria {
        font-size: 20px;
    }
    .contenedor-bitacora{
        width: 90%;
    }
}

@media (max-width: 575.98px) {
    .titulo-categoria {
        font-size: 17px;
    }

    .contenedor-catalogo{
        padding: 5%;
    }
    .contenedor-bitacora{
        width: 100%;
    }
}




